@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model BulletinApp.Shared.Promo

@{
    ViewData["Title"] = "Promo - Create";
}

<h1 id="home-page-title">Create a Promo</h1>
<p id="subscript">Fill out the form below and press Create!</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" form-method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="ContactName" class="control-label"></label>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoType" class="control-label"></label>
                <input asp-for="PromoType" class="form-control" />
                <span asp-validation-for="PromoType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactInfo" class="control-label"></label>
                <input asp-for="ContactInfo" class="form-control" />
                <span asp-validation-for="ContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary m-2" id="home-page-buttons" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-md m-2" id="return-buttons" 
        asp-area="" asp-controller="Board" asp-action="Index">Return to Current Board</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
