html {
  font-size: 14px;
}

* {
    font-family: 'Noto Mono','Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

h3, h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#promo-columns
{
    column-count: 1;
}

#center-board-area {
    background-color: #eff2f4;
}

#list-header-row {
    background-color: #ddd9d7;
}
