html {
  font-size: 14px;
}

* {
    font-family: 'Roboto Mono', 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

h3, h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
}

#subscript {
    font-family: 'Roboto Mono', 'Noto Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#promo-columns
{
    column-count: 1;
}

#center-board-area {
    background-color: #eff2f4;
    padding: 20px 10px 20px 10px;
}

#home-center-area {
    padding: 20px 10px 10px 10px;
    background-color: #eff2f4;
    width: 60%;
}

#list-header-row {
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    top: 0px;
    margin: 0px;
    padding: 0px 2px 2px 3px;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: #f0a07a;
    border-bottom-style: solid;
    width: 100%;
}

#list-item {
    margin: 0px;
    padding: 0px 2px 2px 3px;
    border-width: 2px;
    border-bottom-width: 2px;
    border-bottom-color: White;
    border-bottom-style: solid;
    width: 100%;
}

#home-page-buttons {
    background-color: #f0a07a;  
    color: white;
    outline: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

#delete-resource-buttons {
    background-color: #ca5923;
    color: white;
    outline: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

#return-buttons {
    background-color: #607D8B;
    color: white;
    outline: none;
    border: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}


hr.style1 {
    border-top: 2px solid;
    border-top-color: #607D8B;
    width: 80%;
}

dt, #edit-labels {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

#promo-headline-title {
    color: #d88f6c;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}